@model WebFinalPys.Models.Personel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h4>Şifre Yenileme</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Password" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">New Password</label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Password Again</label>
                <input asp-for="NewPassword" type="password" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Geri Dön</a>
</div>
@if (ViewData["mesaj"] != null)
{
    <text>
        <script>
            alert('@ViewData["mesaj"].ToString()');
        </script>
    </text>
}